<section>
  <img class="grao" src="../../assets/graoCafe.png" alt="">
  <div class="products">
    <h2>WE LOVE TREND</h2>
    <div class="xic">
      <div class="groupLine invert">
        <span class="lines"></span>
        <span class="line"></span>
      </div>
      <img src="../../assets/xicara.svg" alt="">
      <div class="groupLine">
        <span class="lines"></span>
        <span class="line"></span>
      </div>
    </div>

    <div class="group-btn">
      <div class="btn active" [ngClass]="{'active': selectedButton === 'featured'}" (click)="loadProducts('featured')">
        ALL
      </div>
      <div class="btn" [ngClass]="{'active': selectedButton === 'latest product'}"
        (click)="loadProducts('latest product')">LATEST PRODUCTS</div>
      <div class="btn" [ngClass]="{'active': selectedButton === 'best seller'}" (click)="loadProducts('best seller')">
        BEST SELLER
      </div>
    </div>

    <div class="product-item">
      <!-- Corrigido para usar filteredProducts -->
      <div class="card" *ngFor="let product of filteredProducts">
        <img [src]="product.imageUrl" alt="{{ product.name }}">
        <span class="star" [appStarRating]="product.rating"></span>
        <h4>{{ product.name }}</h4>
        <p [appMoneyFormat]="product.price"></p>
        <span class="bt-cart" (click)="addBag()">Add to Bag</span>
      </div>
    </div>
  </div>
</section>
