<section class="content">
    <div class="tituloSub">
        <div class="inter">
            <span>
                <div class="groupLine invert">
                    <span class="lines"></span>
                    <span class="line"></span>
                </div>
                ALL FLAVOURS COFFE
            </span>
            <span>
                FLAT UP TO 30% OFF

                <div class="groupLine">
                    <span class="lines"></span>
                    <span class="line"></span>
                </div>
            </span>
        </div>
    </div>
    <div class="cafe">
        
        <div class="coffee-left">
            <div class="ico-coffee">
                <img src="../../assets/cup.svg" alt="">
            </div>
            <div class="ico-coffee">
                <img src="../../assets/machine-coffee.svg" alt="">
            </div>
            <div class="ico-coffee">
                <img src="../../assets/coffee-package.svg" alt="">
            </div>
        </div>
        <div class="text-icon-contain">
            <div class="text-icon">
               <h3>COLD COFFE</h3>
               <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
           </div>
           <div class="text-icon">
               <h3>COLD COFFE</h3>
               <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
           </div>
           <div class="text-icon">
               <h3>COLD COFFE</h3>
               <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
           </div>
        </div>
        
        <div class="center">
            <img class="cup" src="../../assets/cafeMachine.png" alt="">
        </div>

           <div class="text-icon-contain">
               <div class="text-icon right">
                  <h3>COLD COFFE</h3>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
              </div>
              <div class="text-icon right">
                  <h3>COLD COFFE</h3>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
              </div>
              <div class="text-icon right">
                  <h3>COLD COFFE</h3>
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
              </div>
              
           </div>
        <div class="coffee-right">
            <div class="ico-coffee ">
                <img src="../../assets/cup-x.svg" alt="">
            </div>
            <div class="ico-coffee ">
                <img src="../../assets/coffee-grinder.svg" alt="">
            </div>
            <div class="ico-coffee ">
                <img src="../../assets/coffee-pot.svg" alt="">
            </div>
        </div>
    </div>
</section>