<nav>
<section>
    <div class="left">
        <img src="../../assets/copoCafe.png" alt="promoção de café">
        <div class="text">
            <h5>FLAT 20% OFF</h5>
            <h2>Cold Coffee</h2>
            <span class="btn">BUY NOW</span>
        </div>
    </div>
    <div class="right">
        <img src="../../assets/cafepacote.png" alt="promoção de café">
        <div class="text">
            <h5>DELICIOUS COFFEE</h5>
            <h2>Coffee Bag</h2>
            <span class="btn">BUY NOW</span>
        </div>
    </div>
</section>
<section class="xic">
    <div class="xicara">
        <span>BEST DELICIOUS</span>
        <img src="../../assets/xicara2.png" alt="xicara com cappuccino">
        <span>COFFEE BEAN</span>
    </div>
</section>

<section>
    <div class="info">
        <img src="../../assets/aviao.svg" alt="avião">
        <h5>Free Delivery</h5>
        <span>Delivery On All Orders Over $100</span>
    </div>
    <div class="info">
        <img src="../../assets/dinheiro.svg" alt="dinheiro">
        <h5>Sale & Discounts</h5>
        <span>Get Personalized Offer Every Week</span>
    </div>
    <div class="info">
        <img src="../../assets/tel.svg" alt="telefone">
        <h5>Service Online</h5>
        <span>You Can Pay Online Or Courier</span>
    </div>
</section>
</nav>
    